body {
    background-color: rgb(226, 223, 223);
    font-family: 'Roboto', sans-serif;

}

body h1 {
    font-size: 45px;
    text-align: center;
    color: rgb(248, 98, 98);
}

main {
    margin: auto;
    display: flex;
    justify-content: center;
}


main section{

    margin-top: 35px;
    background-color: white;
    width: 350px;
    height: 200px;
    border-radius: 5px;
    margin: 20px;
}

.codigo {
    text-align: center;
    padding-top: 75px;
    box-sizing: border-box;
}


.codigo label{
    font-size: 18px;
}

.codigo input {
    width: 300px;
    height: 40px; 
    border-radius: 5px;
    font-size: 15px;
    border: 1px solid rgba(0, 0, 0, 0.2);

}

.codigo button {
    height: 30px;
    width: 120px;
    border-radius: 4px;
    background-color: rgb(235, 82, 82);
    color: white;
    margin-top: 5px;
    border-color: rgb(230, 69, 69);
}

#cript {
    margin-right: 10px;
}


.mensagem {
    text-align: center;
}

.mensagem h2 {
    font-size: 32px;
    margin-top: 12px;
    margin-bottom: 10px;
    
}

.mensagem input {
    width: 300px;
    height: 40px;  
    border-radius: 5px;
    font-size: 15px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    
}

.mensagem button {
    height: 30px;
    width: 80px;
    border-radius: 4px;
    margin-left: 215px;
    margin-top: 5px;
    background-color: rgb(235, 82, 82);
    border-color: rgb(230, 69, 69);
    color: white;
}
