body {
    background-color: rgb(235, 235, 235);
    font-family: 'Roboto', sans-serif;
}

body h1 {
    font-size: 45px;
    text-align: center;
    color: rgb(235, 70, 70);
    
}

main {
    margin: auto;
    display: flex;
    justify-content: center;
}


main section{
    margin-top: 35px;
    background-color: white;
    width: 350px;
    height: 200px;
    border-radius: 5px;
    margin: 20px;
}

.entradaDeTexto {
    text-align: center;
    margin-top: 65px;
    padding: 10px;
}


.entradaDeTexto label{
    font-size: 18px;
}

.entradaDeTexto input {
    width: 300px;
    height: 40px; 
    border-radius: 5px;
    font-size: 15px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-top: 10px;
}


.entradaDeTexto button {
    height: 32px;
    width: 130px;
    border-radius: 4px;
    background: rgb(235, 70, 70);
    color: white;
    margin-top: 5px;
    border:none;
    transition: 300ms; 
    box-shadow: 2px 2px 4px rgb(0 0 0 / 15%);  
}

.entradaDeTexto button:active{
    opacity: 0.6;
}

#cript {
    margin-right: 10px;
}


.saidaDeTexto {
    text-align: center;
    padding: 10px;
}

.saidaDeTexto h2 {
    font-size: 32px;
    margin-top: 12px;
    margin-bottom: 10px;
    
}

.saidaDeTexto input {
    width: 300px;
    height: 40px;  
    border-radius: 5px;
    font-size: 15px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    
}

.saidaDeTexto button {
    height: 32px;
    width: 80px;
    border-radius: 4px;
    margin-left: 220px;
    margin-top: 5px;
    background: rgb(235, 70, 70);
    color: white;
    border: none;
    transition: 300ms; 
    box-shadow: 2px 2px 4px rgb(0 0 0 / 15%);
}

.saidaDeTexto button:active{
    opacity: 0.6;
}

@media (max-width: 900px){

    body h1{
    font-size: 38px;
    }
    main{
        flex-direction: column;
        align-items: center;
    }
    
    .saidaDeTexto h2{
        font-size: 28px;
    }
    
}
